In [9]:
# Dependencies
import pandas as pd

In [10]:
# Load in File from resources
# 'movie_scores.csv'

path = "../../../Resources/04-Pandas_Day11_02-Stu_GoodMovies_Unsolved_Resources_movie_scores.csv"

In [12]:
# Read and display with pandas
datafile = pd.read_csv(path)
df = pd.DataFrame(datafile)

In [13]:
# List all the columns the table provides
print(df.columns)

Index(['FILM', 'RottenTomatoes', 'RottenTomatoes_User', 'Metacritic',
       'Metacritic_User', 'IMDB', 'Fandango_Stars', 'Fandango_Ratingvalue',
       'RT_norm', 'RT_user_norm', 'Metacritic_norm', 'Metacritic_user_nom',
       'IMDB_norm', 'RT_norm_round', 'RT_user_norm_round',
       'Metacritic_norm_round', 'Metacritic_user_norm_round',
       'IMDB_norm_round', 'Metacritic_user_vote_count', 'IMDB_user_vote_count',
       'Fandango_votes', 'Fandango_Difference'],
      dtype='object')

In [18]:
# only care about Imdb, so create a new table that takes the Film and all the columns relating to IMDB
new_df = df.iloc[:, [0, 5, 12, 17, 19]]
new_df.head()

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
0,Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
1,Cinderella (2015),7.1,3.55,3.5,65709
2,Ant-Man (2015),7.8,3.90,4.0,103660
3,Do You Believe? (2015),5.4,2.70,2.5,3136
4,Hot Tub Time Machine 2 (2015),5.1,2.55,2.5,19560

In [32]:
# List only movies whose ratings are over 7 (out of 10) in IMDB
highratedmovies = new_df["IMDB"] >= 7.0
df3 = new_df.loc[highratedmovies, :]

df3.head()

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
0,Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
1,Cinderella (2015),7.1,3.55,3.5,65709
2,Ant-Man (2015),7.8,3.90,4.0,103660
5,The Water Diviner (2015),7.2,3.60,3.5,39373
8,Shaun the Sheep Movie (2015),7.4,3.70,3.5,12227

In [34]:
# Find lesser-known movies to watch, with fewer than 20K votes
lesserknownmovies = df3['IMDB_user_vote_count'] < 20000

df4 = df3.loc[lesserknownmovies, :]

df4.head()

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
8,Shaun the Sheep Movie (2015),7.4,3.70,3.5,12227
9,Love & Mercy (2015),7.8,3.90,4.0,5367
10,Far From The Madding Crowd (2015),7.2,3.60,3.5,12129
20,"McFarland, USA (2015)",7.5,3.75,4.0,13769
29,The End of the Tour (2015),7.9,3.95,4.0,1320

In [36]:
# Finally, export this file to an Excel spreadsheet -- without the DataFrame index.
df4.to_excel("goodmovies.xlsx")