In [76]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "05-Matplotlib_Homework_Pymaceuticals_data_mouse_drug_data.csv"
clinical_trial_data_to_load = "05-Matplotlib_Homework_Pymaceuticals_data_clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data

mouse_info = pd.read_csv(mouse_drug_data_to_load)
trial_data = pd.read_csv(clinical_trial_data_to_load)

# Combine the data into a single dataset

combined_data = pd.merge(mouse_info, trial_data, on = "Mouse ID")

# Display the data table for preview

combined_data.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

## Tumor Response to Treatment

In [77]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 

drug_timepoint_group = combined_data.groupby(['Drug', 'Timepoint'])

mean_tumor_volume = drug_timepoint_group.mean()['Tumor Volume (mm3)']

# Convert to DataFrame

mean_tumor_volume_df = pd.DataFrame(mean_tumor_volume)

# Preview DataFrame

mean_tumor_volume_df.reset_index().head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0           45.000000
1  Capomulin          5           44.266086
2  Capomulin         10           43.084291
3  Capomulin         15           42.064317
4  Capomulin         20           40.716325

In [62]:
### Numbers for standard error are not matching up

In [75]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint

std_tumor = drug_timepoint_group.std()['Tumor Volume (mm3)']

#std_tumor = np.std(mean_tumor_volume_df)


# Convert to DataFrame

std_tumor_df = pd.DataFrame(std_tumor).rename(columns = {'Tumor Volume (mm3)' : 'Std. Dev. in Tumor Volume (mm3)'})

# Preview DataFrame

std_tumor_df.head().reset_index()

        Drug  Timepoint  Std. Dev. in Tumor Volume (mm3)
0  Capomulin          0                         0.000000
1  Capomulin          5                         2.242964
2  Capomulin         10                         3.513422
3  Capomulin         15                         4.108369
4  Capomulin         20                         4.362915

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [ ]:
# Show the Figure
plt.show()

## Metastatic Response to Treatment

In [10]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

mean_metsite_data = drug_timepoint_group.mean()['Metastatic Sites']

# Convert to DataFrame

mean_metsite_data_df = pd.DataFrame(mean_metsite_data)

# Preview DataFrame

mean_metsite_data_df = mean_metsite_data_df.reset_index()

mean_metsite_data_df.head()

        Drug  Timepoint  Metastatic Sites
0  Capomulin          0          0.000000
1  Capomulin          5          0.160000
2  Capomulin         10          0.320000
3  Capomulin         15          0.375000
4  Capomulin         20          0.652174

In [74]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

std_metsites = drug_timepoint_group.std()['Metastatic Sites']

# Convert to DataFrame

std_metsites_df = pd.DataFrame(std_metsites).rename(columns = {'Metastatic Sites' : 'Std. Dev. in Metastatic Sites'})

# Preview DataFrame

std_metsites_df.head().reset_index()

        Drug  Timepoint  Std. Dev. in Metastatic Sites
0  Capomulin          0                       0.000000
1  Capomulin          5                       0.374166
2  Capomulin         10                       0.627163
3  Capomulin         15                       0.646899
4  Capomulin         20                       0.775107

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

## Survival Rates

In [38]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)
drug_timepoint_group.count().reset_index()
df = drug_timepoint_group.count().reset_index()

# Grab only necessary columns and rename Mouse ID column
mice_count_df = df.iloc[:, 0:3]
mice_count_df = mice_count_df.rename(columns = {"Mouse ID" : "Mouse Count"})

# Preview DataFrame
mice_count_df.head()

        Drug  Timepoint  Mouse Count
0  Capomulin          0           25
1  Capomulin          5           25
2  Capomulin         10           25
3  Capomulin         15           24
4  Capomulin         20           23

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

In [ ]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

## Summary Bar Graph

In [ ]:
# Calculate the percent changes for each drug

# Display the data to confirm

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()