In [29]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import openweathermapy as ow
import pandas as pd
from pprint import pprint

In [52]:
# Create a settings object with your API key and preferred units

settings = {'units' : 'imperial', 'appid' : 'fc13d9f6ab3c9f2edef50aea529070a2'}

In [53]:
# Get data for each city in cities.csv

cf = pd.read_csv('cities.csv', header=None)

# Getting data from the first and only column

cities = [city for city in cf[0]]

cf

             0
0        Paris
1       London
2         Oslo
3      Beijing
4       Moscow
5  Vladivostok
6        Osaka
7     Honolulu
8   Montevideo
9        Erbil

In [56]:
weather_data = []

#weather_data.append(ow.get_current(city, **settings) for city in cities)

weather_data = [ow.get_current(city, **settings) for city in cities]

weather_data

[{'coord': {'lon': 2.35, 'lat': 48.86},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01n'}],
  'base': 'stations',
  'main': {'temp': 58.98,
   'pressure': 1022,
   'humidity': 63,
   'temp_min': 55,
   'temp_max': 62.01},
  'visibility': 10000,
  'wind': {'speed': 10.29, 'deg': 10},
  'clouds': {'all': 0},
  'dt': 1562120151,
  'sys': {'type': 1,
   'id': 6540,
   'message': 0.0068,
   'country': 'FR',
   'sunrise': 1562125925,
   'sunset': 1562183826},
  'timezone': 7200,
  'id': 2988507,
  'name': 'Paris',
  'cod': 200},
 {'coord': {'lon': -0.13, 'lat': 51.51},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04n'}],
  'base': 'stations',
  'main': {'temp': 52.39,
   'pressure': 1026,
   'humidity': 71,
   'temp_min': 46,
   'temp_max': 57.2},
  'visibility': 10000,
  'wind': {'speed': 3.36, 'deg': 340},
  'clouds': {'all': 66},
  'dt': 1562120153,
  'sys': {'type': 1,
   'id': 1417,
   'message': 0.0097,
   'country': 'GB',
   'sunrise': 1562125719,
   'sunset': 1562185222},
  'timezone': 3600,
  'id': 2643743,
  'name': 'London',
  'cod': 200},
 {'coord': {'lon': 10.74, 'lat': 59.91},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'base': 'stations',
  'main': {'temp': 49.57,
   'pressure': 1010,
   'humidity': 57,
   'temp_min': 46.99,
   'temp_max': 53.01},
  'visibility': 10000,
  'wind': {'speed': 3.36},
  'clouds': {'all': 0},
  'dt': 1562120260,
  'sys': {'type': 1,
   'id': 1624,
   'message': 0.0079,
   'country': 'NO',
   'sunrise': 1562119318,
   'sunset': 1562186406},
  'timezone': 7200,
  'id': 3143244,
  'name': 'Oslo',
  'cod': 200},
 {'coord': {'lon': 116.39, 'lat': 39.91},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'base': 'stations',
  'main': {'temp': 92.26,
   'pressure': 1007,
   'humidity': 51,
   'temp_min': 84.2,
   'temp_max': 99},
  'visibility': 10000,
  'wind': {'speed': 2.24},
  'clouds': {'all': 0},
  'dt': 1562120260,
  'sys': {'type': 1,
   'id': 9609,
   'message': 0.0066,
   'country': 'CN',
   'sunrise': 1562100606,
   'sunset': 1562154399},
  'timezone': 28800,
  'id': 1816670,
  'name': 'Beijing',
  'cod': 200},
 {'coord': {'lon': 37.62, 'lat': 55.75},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'base': 'stations',
  'main': {'temp': 57.52,
   'pressure': 1003,
   'humidity': 93,
   'temp_min': 55.4,
   'temp_max': 63},
  'visibility': 10000,
  'wind': {'speed': 8.95, 'deg': 230},
  'clouds': {'all': 0},
  'dt': 1562120027,
  'sys': {'type': 1,
   'id': 9027,
   'message': 0.0071,
   'country': 'RU',
   'sunrise': 1562115059,
   'sunset': 1562177760},
  'timezone': 10800,
  'id': 524901,
  'name': 'Moscow',
  'cod': 200},
 {'coord': {'lon': 131.89, 'lat': 43.12},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'base': 'stations',
  'main': {'temp': 64.4,
   'pressure': 1009,
   'humidity': 93,
   'temp_min': 64.4,
   'temp_max': 64.4},
  'visibility': 10000,
  'wind': {'speed': 8.95, 'deg': 210},
  'clouds': {'all': 75},
  'dt': 1562120174,
  'sys': {'type': 1,
   'id': 8885,
   'message': 0.0071,
   'country': 'RU',
   'sunrise': 1562096233,
   'sunset': 1562151331},
  'timezone': 36000,
  'id': 2013348,
  'name': 'Vladivostok',
  'cod': 200},
 {'coord': {'lon': 135.5, 'lat': 34.7},
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'base': 'stations',
  'main': {'temp': 78.76,
   'pressure': 1010,
   'humidity': 88,
   'temp_min': 73.4,
   'temp_max': 82.99},
  'visibility': 6000,
  'wind': {'speed': 3.36, 'deg': 290},
  'clouds': {'all': 75},
  'dt': 1562120135,
  'sys': {'type': 1,
   'id': 7962,
   'message': 0.0069,
   'country': 'JP',
   'sunrise': 1562096934,
   'sunset': 1562148897},
  'timezone': 32400,
  'id': 1853909,
  'name': 'Osaka',
  'cod': 200},
 {'coord': {'lon': -157.86, 'lat': 21.3},
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04n'}],
  'base': 'stations',
  'main': {'temp': 81.63,
   'pressure': 1015,
   'humidity': 78,
   'temp_min': 78.8,
   'temp_max': 87.8},
  'visibility': 16093,
  'wind': {'speed': 3.36, 'deg': 50},
  'clouds': {'all': 90},
  'dt': 1562120029,
  'sys': {'type': 1,
   'id': 7866,
   'message': 0.0085,
   'country': 'US',
   'sunrise': 1562082795,
   'sunset': 1562131045},
  'timezone': -36000,
  'id': 5856195,
  'name': 'Honolulu',
  'cod': 200},
 {'coord': {'lon': -95.72, 'lat': 44.94},
  'weather': [{'id': 721,
    'main': 'Haze',
    'description': 'haze',
    'icon': '50n'}],
  'base': 'stations',
  'main': {'temp': 77.43,
   'pressure': 1012,
   'humidity': 74,
   'temp_min': 73.99,
   'temp_max': 80.6},
  'visibility': 16093,
  'wind': {'speed': 3.36, 'deg': 110},
  'clouds': {'all': 1},
  'dt': 1562120260,
  'sys': {'type': 1,
   'id': 4197,
   'message': 0.0091,
   'country': 'US',
   'sunrise': 1562064038,
   'sunset': 1562119971},
  'timezone': -18000,
  'id': 5038018,
  'name': 'Montevideo',
  'cod': 200},
 {'coord': {'lon': 44.01, 'lat': 36.19},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'base': 'stations',
  'main': {'temp': 75.2,
   'pressure': 1006,
   'humidity': 25,
   'temp_min': 75.2,
   'temp_max': 75.2},
  'visibility': 10000,
  'wind': {'speed': 5.82, 'deg': 340},
  'clouds': {'all': 0},
  'dt': 1562120082,
  'sys': {'type': 1,
   'id': 7600,
   'message': 0.0065,
   'country': 'IQ',
   'sunrise': 1562118652,
   'sunset': 1562171100},
  'timezone': 10800,
  'id': 95446,
  'name': 'Erbil',
  'cod': 200}]

In [61]:
# Create an "extracts" object to get the temperature, latitude,
# and longitude in each city

extracts = ["main.temp", "coord.lat", "coord.lon"]

extract_data = [city(*extracts) for city in weather_data]


# Create a Pandas DataFrame with the results

df = pd.DataFrame(extract_data, index = cities, columns = ['Temperature', 'Latitude', 
                                                          'Longitude'])
df

             Temperature  Latitude  Longitude
Paris              58.98     48.86       2.35
London             52.39     51.51      -0.13
Oslo               49.57     59.91      10.74
Beijing            92.26     39.91     116.39
Moscow             57.52     55.75      37.62
Vladivostok        64.40     43.12     131.89
Osaka              78.76     34.70     135.50
Honolulu           81.63     21.30    -157.86
Montevideo         77.43     44.94     -95.72
Erbil              75.20     36.19      44.01