In [2]:
# SQL Alchemy
from sqlalchemy import create_engine

database_path = "icecreamstore.sqlite"

In [3]:
# Create an engine to connect to the database
engine = create_engine(f"sqlite:///{database_path}")

In [4]:
data = engine.execute('select * from icecreamstore')

for record in data:
    print(record)

(1, 'Vanilla', 100, 1)
(2, 'Chocolate', 150, 1.25)
(3, 'Strawberry', 95, 1.25)
(4, 'Rocky Road', 50, 1.5)
(5, 'Cookie Dough', 75, 1.5)
(25, 'testflavor', 5, 0.25)

In [5]:
import pandas as pd

conn = engine.connect()
data = pd.read_sql('select * from icecreamstore', conn)
data

   ID       Flavors  Quantities  Price
0   1       Vanilla         100   1.00
1   2     Chocolate         150   1.25
2   3    Strawberry          95   1.25
3   4    Rocky Road          50   1.50
4   5  Cookie Dough          75   1.50
5  25    testflavor           5   0.25

In [6]:
data = engine.execute("SELECT * FROM icecreamstore WHERE Price>=1.25;")
for record in data:
    print(record)

(2, 'Chocolate', 150, 1.25)
(3, 'Strawberry', 95, 1.25)
(4, 'Rocky Road', 50, 1.5)
(5, 'Cookie Dough', 75, 1.5)